/* &display=swap&subset=cyrillic-ext */

/* ОБНУЛЕНИЕ СТИЛЕЙ */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;0,700;1,100;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,700&display=swap');

@font-face {
	font-family: 'Linux Libertine Display O';
	src: url('../fonts/LinLibertineDisplayO.woff2') format('woff2'),
		url('../fonts/LinLibertineDisplayO.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Linux Libertine O';
	src: url('../fonts/LinLibertineDisplayO.woff2') format('woff2'),
		url('../fonts/LinLibertineOB.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Times';
	src: url('../fonts/TimesGothic.woff2') format('woff2'),
		url('../fonts/TimesGothic.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Serif Pro1';
	src: url('../fonts/SourceSerifPro-Black.woff2') format('woff2'),
		url('../fonts/SourceSerifPro-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Serif Pro2';
	src: url('../fonts/SourceSerifPro-ExtraLight.woff2') format('woff2'),
		url('../fonts/SourceSerifPro-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Serif Pro3';
	src: url('../fonts/SourceSerifPro-Bold.woff2') format('woff2'),
		url('../fonts/SourceSerifPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	line-height: 1;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px 24px 20px 24px;
	line-height: 1.6;

}

h1 {
	font-size: 1.8em;
	border-bottom: 1px solid rgb(25, 24, 25);
	margin-bottom: 10px;
}

.subtitle {
	font-family: 'Linux Libertine Display O';
	font-weight: bold;
	margin-bottom: 20px;
}

a:hover {
	background: rgb(75, 82, 79);
	color: rgb(84, 245, 245);
}

a {
	color: rgb(20, 20, 176);
}

p {
	margin: 7px 0;
}

.image {
	background: rgba(199, 194, 204, 0.3);
	float: right;
	text-align: center;
	padding: 5px;
	border: 1px solid rgba(171, 171, 171, 0.608);
}

.Flag {
	max-height: 107px;
}

.Population {
	display: inline;
	margin: 10px;
}

.Content {
	border: dotted 1px rgb(79, 66, 66);
	max-width: 400px;
	min-height: 900px;
	background-color: #f8f9fa;
}

.Content h2 {
	text-align: center;
}

ul {
	padding: 7px;
}

li {
	color: #0645ad;
	font-family: 'Source Serif Pro3';
	font-weight: normal;
	line-height: 1.2;
}

h3 {
	font-weight: bold;
}

h2 {
	font-family: 'Linux Libertine O';
	font-size: 1.5em;
	border-bottom: 1px solid rgb(25, 24, 25);
}

.subtitleFlora {
	font-style: italic;
	font-family: sans-serif;
	display: inline;
	padding: 11px;
}

.List {
	color: #a55858;
}

.figura_Flora {
	width: 225px;
	float: right;
	height: 170px;
}